{% load staticfiles %}
<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python Meetup Blog</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bower_components/material-design-lite/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_header %}{% endblock %}
  </head>

  <body>
    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
      <main class="mdl-layout__content">

        {% block header %}{% endblock %}

        <div class="demo-blog__posts mdl-grid">

          {% block content %}{% endblock %}

        </div>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <a href="http://twitter.com/Moby_Dev">
              <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
                <span class="visuallyhidden">Twitter</span>
              </button>
            </a>
          </div>
          <div class="mdl-mini-footer--left-section">
            <span>Python Meetup Blog by</span> <a href="http://www.mobydev.com">MobyDev</a>
          </div>
        </footer>
      </main>
    </div>
    <script src="{% static 'bower_components/material-design-lite/material.min.js' %}"></script>
    {% block extra_footer %}{% endblock %}
  </body>
</html>